@import '../node_modules/bootstrap/scss/bootstrap.scss';


@import '_variables' ;






@mixin wrapperStyles{
  width:$primaryWidth;
  display:flex ;
  justify-content:space-between;
  
}
@mixin childStyles{
            text-align:center;
            color:$color-link;
            background:$primary-color;
            margin: $primary-margin;
            padding: $primary-padding;
            }

@mixin links{
                a{
                  &:link{
                    color:yellowgreen;
                    
                  }
                  &:visited{color: darken($primary-color,40%);}
                  &:hover{color: lighten($color-link, 20%); }
                  
                }
                h3{text-align: center;
                   text-transform:capitalize;    
                }

            }
@mixin border-radius($radius){
  border-radius:$radius;
}

*{
  font: lighter 18px / 25px sans-serif;
    
}
.aboutImage img{
  @include border-radius(4px);
}
.icon{
  margin:30px; 
  img{
    width:80px;
    @include border-radius(8px);

  }
}
.wrapper{@include wrapperStyles;}
.sidebarWrapper{width:$primaryWidth - 70%;}
.contentWrapper{width:$primaryWidth - 31%;}
.sidebarBig{
  max-height:$primary-height+6vh;
  @include childStyles;
  @include border-radius(10px);
}
.sidebar { 
  min-height: $primary-height - 24vh;
  @include childStyles;
  @include border-radius(10px);
}
 .sidebarAbout{
  min-height:$primary-height - 3vh;
  @include childStyles;
  @include border-radius(10px);
} 
.sidebarBig{
  img{
     height:38vh;

    @include border-radius(14px);

  }
}
.contentBig{
  @extend .sidebarBig ;
}
.content {
   @extend .sidebar;
}
@mixin nav-link-color{
    a{
         &:link{ color:$primary-color; }
          &:visited{color:lighten(rgb(9, 159, 170),40%);}
          &:hover{ color:$primary-color;}
          &:active{ color:$primary-color; }
        }
  }
.navigator{
  @include nav-link-color;
}
.navbar{
  @include border-radius(5px);
  background:#343A40;
}
.footer {
margin-top:auto;
padding:$padding;
background:#343A40;
color:$primary-color;
@include border-radius(5px);
@include links;
 .footer-list{
   padding:$padding;
 }
}





