@import '../node_modules/bootstrap/scss/bootstrap.scss';


@import '_variables' ;






@mixin wrapperStyles{
  width:$primaryWidth;
  min-height:$min-height;
  display:flex ;
  justify-content:space-between;
  
}
@mixin childStyles{
            background:$primary-color;
            margin: $primary-margin;
            padding: $primary-padding;
            }

@mixin links{
                a{
                  color:$primary-color;
                  &:visited{color: darken($primary-color,30%);}
                  &:hover{color: lighten($primary-color, 20%); }
                  &:active{color:$primary-color};
                }
                h3{text-align: center;
                   text-transform:capitalize;    
                }
            }
@mixin border-radius($radius){
  border-radius:$radius;
}

*{
  font: lighter 18px / 25px sans-serif;
  @include links;     
}
.contentImage img{
  @include border-radius(4px);
}
.icon{
margin-top:30px; 
  img{
    width:80px;
    @include border-radius(8px);

  }
}
.wrapper{@include wrapperStyles;}
.sidebarWrapper{width:$primaryWidth - 70%;}
.contentWrapper{width:$primaryWidth - 31%;}
.sidebarBig{
  min-height:$min-height - 3vh;
  @include childStyles;
  @include border-radius(10px);
}
.sidebar { 
  min-height: $min-height - 24vh;
  @include childStyles;
  @include border-radius(10px);
}
.sidebarAbout{
  min-height:$min-height - 5vh;
  @include childStyles;
  @include border-radius(10px);
}
.contentBig{
  @extend .sidebarBig ;
}
.content {
   @extend .sidebar;
}
.navigator{
  @include border-radius(5px);
}
.footer {
margin-top:auto;
background:#343A40;
color:$primary-color;
@include border-radius(5px);
}





