<div class="wrapper">
    <div class="sidebarWrapper">

        <aside class="sidebar contentImage">
            <img src="/image/imagegrid2.PNG" style="width:100%; height:82vh;">

        </aside>
    </div>
    <div class="contentWrapper">
        <section class="content contentImage">
            <img id="img1" src="/image/notes.PNG" style="width:100%;height:50vh">
        </section>
        <section class="content contentImage">
            <img src="/image/todoNew.png" style="width:100%;height:29vh">

        </section>
    </div>
</div>