<div class="wrapper">
    <div class="sidebarWrapper">
        <aside class="sidebar ">

            <img src="/image/javascript.PNG" style="width:100%;">

        </aside>
        <aside class="sidebar">
            <img src="/image/logoAng.PNG" style="width:100%;height:19vh">



        </aside>
        <aside class="sidebarAbout">

            <img id="img1" src="/image/boots.png" style="width:100%;height:38vh">




        </aside>
    </div>
    <div class="contentWrapper">
        <section class="content contentImage">
            <img id="img1" src="/image/notes.PNG" style="width:100%;height:50vh">
        </section>
        <section class="content contentImage">
            <img src="/image/todoNew.png" style="width:100%;height:29vh">

        </section>
    </div>
</div>