<div class="wrapper">
    <div class="sidebarWrapper">

        <aside class="sidebar aboutImage">
            <a href="#!/contact"> <img src="/image/imagegrid2.PNG" style="width:100%; height:104vh;"></a>


        </aside>
    </div>
    <div class="contentWrapper">
        <section class="content aboutImage">
            <img id="img1" src="/image/notes.PNG" style="width:100%;height:50vh">
        </section>
        <section class="content aboutImage">
            <img src="/image/todoNew.png" style="width:100%;height:50vh">

        </section>
    </div>
</div>