<div class="wrapper">
    <div class="sidebarWrapper">
        <aside class="sidebar text-info">
            <h3 class="text-center">Get in Touch </h3>
            <p class="text-center">Email:abc@gmail.com<br>
                Phone:+852 00000000

            </p>
        </aside>
        <aside class="sidebar">
            <h3 class="text-center">Check this out!!</h3>

            <a href="#!/projects"><img src="/image/todoImage.png" style="width:100%"></a>
        </aside>
        <aside class="sidebarAbout">

            <h3 class="text-center">follow me on: </h3>
            <div class="d-flex  flex-shrink-1 flex-column align-items-center  ">
                <div class="icon"><img src="/image/linkedIn.png"></div>
                <div class="icon"><img src="/image/insta.png"></div>
                <div class="icon"><img src="/image/twitter.png"></div>
            </div>


        </aside>
    </div>
    <div class="contentWrapper">
        <section class="content" style="height:46vh;">
            <img src="/image/girls.PNG" style="width:100%;height:39vh;">
            <blockquote class="text-center mt-10px">Thank you for visiting! Please reach out to me at abc@gmail.com or
                write
                below
            </blockquote>
        </section>


        <section class="content" style="height:55vh;">
            <div class="form">
                <input type="text" class="form-control w-100" placeholder="Name" required>
                <input type="email" class="form-control" placeholder="Email.." required>
                <textarea class="form-control" rows="12" placeholder="message.." required></textarea>

                <button class="btn mt-2 btn-outline-secondary" type="submit">Send message</button>
            </div>

        </section>
    </div>
</div>