<div class="wrapper">
    <div class="sidebarWrapper">
        <aside class="sidebar text-info">
            <h3>Get in Touch </h3>
            <p class="text-center">Email:abc@gmail.com<br>
                Phone:+852 00000000

            </p>
        </aside>
        <aside class="sidebar">
            <h3>Check this out!!</h3>

            <img src="/image/todoImage.png" style="width:100%">
        </aside>
        <aside class="sidebarAbout">

            <h3>follow me on: </h3>
            <div class="d-flex  flex-shrink-1 flex-column align-items-center  ">
                <div class="icon"><img src="/image/linkedIn.png"></div>
                <div class="icon"><img src="/image/insta.png"></div>
                <div class="icon"><img src="/image/twitter.png"></div>
            </div>


        </aside>
    </div>
    <div class="contentWrapper">
        <section class="content" style="height:45vh;">
            <img src="/image/girls.PNG" style="width:100%;height:40vh;"><br>
            <blockquote class="text-center mt-10px">Thank you for visiting! Please reach out to me at abc@gmail.com or
                write
                below
            </blockquote>
        </section>


        <section class="content" style="height:40vh;">
            <div class="form">
                <input type="text" class="form-control w-100" placeholder="Name">
                <input type="email" class="form-control" placeholder="Email..">
                <textarea class="form-control" rows="10" placeholder="message.."></textarea>
                <button class="btn btn-outline-secondary" type="button">Send message</button>
            </div>

        </section>
    </div>
</div>