<div class="wrapper">
    <div class="sidebarWrapper">
        <aside class="sidebar">
            <h3>Connect me on: </h3>
            <a href="#">click it !!</a>
            <br>

        </aside>
        <aside class="sidebar">
            <h3>about me</h3>
            <a href="#">check it out!!</a>
            <br>

        </aside>
        <aside class="sidebar">
            <h3>contact me</h3>
            <a href="#">wanna calculate!!</a>
            <br>

        </aside>

        <aside class="sidebar">
            <h3>notes app</h3>
            <a href="#">take notes!!</a>
            <br>

        </aside>
    </div>
    <div class="contentWrapper">
        <section class="content">
            graduated as B.I.M. student from St.Xavier's College,Nepal.<br>
            schooling:Urlabari-4
        </section>



        <section class="content">
            <h3>Online learning</h3>
            <a>check it out!!</a>
        </section>
        <section class="content">
            <h3>AngularJS</h3>
            <a>check it out!!</a>
        </section>
        <section class="content">
            <h3>SQL</h3>
            SQL,
        </section>


    </div>
</div>