<img src="image/image1.jpg" style="width:100%;height:38vh">
<div class="wrapper">
    <div class="sidebarWrapper">
        <aside class="sidebarBig">
            <h3 class="text-secondary">Hello,Good day!!</h3>
            <p class="text-info">This is my online job portal as a budding Javascript programmer. </p>
            I enjoy learning how to code and practice as a budding programmer.It's been a while I've been going for this
            task.
            <blockquote class="text-info">Till now,I've been able to make few web projects based on AngularJS framework.
                I've been using
                Bootstrap
                along with Sass for design part.</blockquote>

            <blockquote>Check it out folks!!</blockquote>
            <p class="text-info"> Am open to hearing advice from you all. Cheers and have an enjoyful day.</p>
        </aside>
    </div>
    <div class="contentWrapper">
        <section class="contentBig">
            <h3 class="text-secondary">Why learn Javascript??</h3>
            <img src="/image/imgPrgm.PNG" style="width:100%;height:36vh;">
        </section>
    </div>
</div>