<img src="image/image1.jpg" style="width:100%;height:38vh">
<div class="wrapper">
    <div class="sidebarWrapper">
        <aside class="sidebarBig">
            <img src="/image/imgPrgm.PNG" style="width:100%">

        </aside>
    </div>
    <div class="contentWrapper">
        <section class="contentBig">

            <h2 class="text-secondary">Hello! _____________</h2>

            <h2 class="text-info"
                style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                I'm Kabita.</h2>
            <blockquote> Nice to meet you.</blockquote>

            <blockquote>
                I enjoy coding.It's been a while I've been going for this
                task.</blockquote>
            <p class="text-info">Apart from these, I love travelling,reading magazines,exploring food and
                cultures
                around me.</p>
            <button ng-click="hireMe()" class="btn btn-info">Hire me</button>
            <button ng-click="showCV()" class="btn btn-success">Get my CV</button>
            <blockquote class="mt-4 ">
                <em> <a href="#!/about" style="color:rgb(20, 158, 182)">Take tour</a></blockquote>
            </em>
        </section>
    </div>
</div>