<div class="wrapper">
    <div class="sidebarWrapper">
        <aside class="sidebar">
            <h3>toDo app</h3>
            <img src="/image/todoNew.png" style="width:100%;">
        </aside>

        <aside class="sidebar">
            <h3>notes app</h3>
            <img src="/image/addnotes.PNG" style="width:100%;height:25vh">
            <br>

        </aside>

        <aside class="sidebar">
            <h3>userGrid app</h3>
            <img src="/image/detailgrid.PNG" style="width:100%;height:35vh">
            <br>

        </aside>

    </div>
    <div class="contentWrapper">
        <section class="content contentImage">
            <img id="img1" src="/image/todoNotes.PNG" style="width:100%;height:80vh">
        </section>


        <section class="contentProject text-center">
            <p class=" text-info mt-5"> Thank you for visiting!!</p>
            <a href=" #!" class=" text-info">End tour</a>
        </section>

    </div>
</div>